* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  font-family: "PT Serif", serif;
}

.landing {
  background-image: url("./background.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  padding: 0rem 3rem;
}

nav {
  z-index: 10;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 7, 17, 0.8);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6vh;
  overflow: hidden;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 14%;
}

.nav-links li {
  margin-right: 30%;
  margin-left: auto;
  font-size: 1.2rem;
  cursor: pointer;
}

#logo-name {
  color: white;
  font-family: "Lobster", cursive;
  font-size: 2rem;
  font-weight: lighter;
  margin-left: 10px;
}

.learn-more-btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: 2px black;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
}

.learn-more-btn:focus {
  outline: none;
}

.learn-more-btn:active {
  transform: scale(0.98);
}

.learn-more-btn:hover {
  background-color: rgb(2, 8, 14);
}

.big-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  text-align: center;
}

.button-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.whoami {
  min-height: 100vh;
  background-color: #000711;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.whoami-text,
.freetime-text {
  color: #ebebeb;
  font-size: 1.7rem;
  margin: 0px 5vh;
}

.whoami-headline,
.freetime-headline {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  font-weight: lighter;
}

.hide {
  background-color: #000711;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.hide-q {
  overflow: hidden;
}

.hide-q span {
  transform: translateY(100%);
  display: inline-block;
}

#qualifications {
  background-image: url("./background2.jpg");
  background-size: cover;
  background-position: center;
}

.headline-q {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  font-weight: lighter;
  color: rgb(2, 8, 14);
}
.text-q {
  color: rgb(2, 8, 14);
  font-size: 1.7rem;
  margin: 0px 5vh;
}

@media only screen and (max-width: 710px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin-right: 10%;
  }

  .nav-links li {
    margin-right: 0%;
    margin-left: 5%;
    font-size: 1.2rem;
    cursor: pointer;
  }

  #logo-name {
    font-family: "Lobster", cursive;
    font-size: 2rem;
    font-weight: lighter;
    margin-left: 0;
  }
}

html {
  scroll-behavior: smooth;
}

.intro {
  background: black;
  position: fixed;
  top: -30px;
  left: 0;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fade 1.1s ease 5.5s forwards;
}

.intro-name {
  color: rgb(227, 242, 255);
  font-size: 4rem;
  font-family: "Source Code Pro", monospace;
  position: relative;
}

.intro-name::before,
.intro-name::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.intro-name::before {
  background: black;
  animation: typewriter 3s steps(16) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: white;
  animation: typewriter 3s steps(16) 1s forwards, blink 500ms steps(16) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fade {
  to {
    transform: translateY(-100%);
  }
}

.slider {
  background: rgb(24, 23, 27);
  position: fixed;
  top: -30px;
  left: 0;
  width: 100%;
  height: 110vh;
  transform: translateY(100%);
  animation: fade 1.6s ease 5s forwards;
}

.nav-links a {
  color: white;
  text-decoration: inherit;
}
